# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/2DAM/AD/2evaluacion/Ej3EntregableAngel/nbproject/private/
/2DAM/AD/2evaluacion/Ej3EntregableAngel/build/
/2DAM/AD/2evaluacion/Ej3EntregableAngel/Ej3EntregableAngel/build/
/2DAM/AD/2evaluacion/Ej3EntregableAngel/Ej3EntregableAngel/nbproject/private/
/2DAM/AD/2evaluacion/Ej4EntregableAngel/nbproject/private/
/2DAM/AD/2evaluacion/Ej4EntregableAngel/build/
/2DAM/AD/2evaluacion/Ej7AngelEntregable/nbproject/private/
/2DAM/AD/2evaluacion/Ej7AngelEntregable/build/
/2DAM/AD/2evaluacion/Ej5AngelEntregable/nbproject/private/
/2DAM/AD/2evaluacion/Ej5EntregableAngel/nbproject/private/
/2DAM/AD/2evaluacion/Ej5EntregableAngel/build/
/2DAM/PSP/tema 5/Actividad2AngelPSP/nbproject/private/
/2DAM/PSP/tema 5/Actividad2AngelPSP/build/
/2DAM/AD/2evaluacion/Repaso2Angel/build/
/2DAM/AD/2evaluacion/Repaso3Angel/nbproject/private/
/2DAM/AD/2evaluacion/Repaso3Angel/build/
/2DAM/AD/2evaluacion/pruebas/nbproject/private/
/2DAM/AD/2evaluacion/pruebas/build/
/2DAM/AD/2evaluacion/repaso2evAngel/nbproject/private/
/2DAM/AD/2evaluacion/repaso2evAngel/build/
/2DAM/AD/2evaluacion/RepasoFinalAD/nbproject/private/
/2DAM/AD/2evaluacion/RepasoFinalAD/build/
/2DAM/AD/2evaluacion/2evaluacionRepasoAngel/nbproject/private/
/2DAM/AD/2evaluacion/2evaluacionRepasoAngel/build/
/2DAM/AD/2evaluacion/2evaluacionRepasoAngel/dist/