# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/2DAM/AD/2evaluacion/Ej3EntregableAngel/nbproject/private/
/2DAM/AD/2evaluacion/Ej3EntregableAngel/build/
/2DAM/AD/2evaluacion/Ej3EntregableAngel/Ej3EntregableAngel/build/
/2DAM/AD/2evaluacion/Ej3EntregableAngel/Ej3EntregableAngel/nbproject/private/
/2DAM/AD/2evaluacion/Ej4EntregableAngel/nbproject/private/
/2DAM/AD/2evaluacion/Ej4EntregableAngel/build/
/2DAM/AD/2evaluacion/Ej7AngelEntregable/nbproject/private/
/2DAM/AD/2evaluacion/Ej7AngelEntregable/build/
/2DAM/AD/2evaluacion/Ej5AngelEntregable/nbproject/private/
/2DAM/AD/2evaluacion/Ej5EntregableAngel/nbproject/private/
/2DAM/AD/2evaluacion/Ej5EntregableAngel/build/